services:
 dynamodb-local:
   command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
   image: "amazon/dynamodb-local:2.5.2"
   container_name: dynamodb-local
   ports:
     - "8000:8000"
   volumes:
     - "./docker/dynamodb:/home/dynamodblocal/data"
   working_dir: /home/dynamodblocal
   environment:
      AWS_ACCESS_KEY_ID: dynamodb_id
      AWS_SECRET_ACCESS_KEY: dynamodb_key
      REGION: us-west-2
      