body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('crypto-images/crypto-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.button-container {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.output-container {
    margin-top: 30px;
    font-size: 18px;
}

.crypto-icon {
    margin-top: 20px;
    width: 100px;
    height: auto;
}