name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      
    paths:
      - 'Dockerfile'
      - 'app.py'
      - 'endpoints/**'
      - '.github/workflows/**'

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Read version from VERSION file
        id: read_version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Log in to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t bubbaj/class-api-it4200-2024-fall:${{ env.VERSION }} .

      - name: Push Docker Image
        run: |
          docker push bubbaj/class-api-it4200-2024-fall:${{ env.VERSION }}
