name: Unit Tests

on: 
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
   test:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v2
      - name: run echo
        run: echo "Hello, world!"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: run test
        run: pytest .