name: Bump version
on:
  push:
    branches:
      - main
      - semver3
jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Github Tag with semantic versioning
        id: tagging
        uses: hennejg/github-tag-action@v4.3.1    
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: minor
          tag_prefix: ""
          release_branches: main
          create_annotated_tag: True