name: Bump version and Build Docker Image
on:
  push:
    branches:
      - main

jobs:
  bump-version:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.tagging.outputs.new_tag }}  # Capture the new version tag
    steps:
      - uses: actions/checkout@master
      
      - name: Github Tag with semantic versioning
        id: tagging
        uses: hennejg/github-tag-action@v4.3.1    
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: minor
          tag_prefix: ""
          release_branches: main
          create_annotated_tag: True

  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: bump-version
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Log in to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Extract x.y.z version
        id: extract_version
        run: |
          VERSION=${{ needs.bump-version.outputs.new_version }}
          # Extract the x.y.z part (everything before the hyphen)
          SIMPLE_VERSION=$(echo $VERSION | cut -d '-' -f 1)
          echo "version=$SIMPLE_VERSION" >> $GITHUB_ENV  # Store it in environment variable

      - name: Build Docker Image
        run: |
          docker build -t bubbaj/class-api-it4200-2024-fall:${{ env.version }} . --build-arg VERSION=${{ env.version }}

      - name: Push Docker Image
        run: |
          docker push bubbaj/class-api-it4200-2024-fall:${{ env.version }}